.footer {
    background-color: #f9f9f9;
    padding: 20px 0;
    color: black;
    height: 65vh;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    margin-top: 0%;
  }
  
  .footer-section {
    flex: 1;
    padding: 10px;
    text-align: center;
    margin-top: 5%;
  }
  
  .footer-icon {
    font-size: 50px;
    color: var(--main-color);
  }
  
  .footer h3 {
    font-size: 30px;
    font-weight: 800;
    margin: 10px 0;

  }
  
  .footer p {
    font-size: 14px;
    margin: 5px 0;
  }
  